.social {
    text-align: center;
    background-color: #ffffff;
    /*color: #4b4c4d;*/

    text-decoration: none;


    font-size: 35px;
    /*width: 100px;
    height: 100px;
    line-height: 100px;*/
   /* display: inline-block;*/
    text-align: center;
    /*border-radius: 50%;
    border: 1px solid #ccc;*/
    margin: 0 8px;

    opacity: 0.75;

}
#bg {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

body {
    /*padding: 75px;*/
    min-height: 100%;
    box-sizing: border-box;
    background-color: white;
    word-break: keep-all;

}
/*@media (max-width: 992px) {
    .full-width {
    width:100vw;
    margin-left: -50vw;
    left:50%;
    position: relative;

}}*/


.img-circle {
    border-radius: 5%;
    box-shadow: 0px 0px 9px #444;
    border: 2px solid #fff;
}

.fixed-right{
    position:fixed;
    top:85%;
    right:8px;
    z-index:1030;
    padding:0px;
    border: solid 1px;

}
.navbar-inverse{
    background-color: darkslategray;
    border-color: aquamarine;
}

.panel-primary > .panel-heading{
    background-color: cadetblue;
    border-color: darkcyan;
}

.panel-info > .panel-heading{
    background-color: aliceblue;
}